<h1>Listing Comments</h1>

<table>
  <thead>
    <tr>
      <th>Body</th>

      <th></th>
    </tr>
  </thead>
  <tbody id="comments">
    <%= for comment <- @comments do %>
      <tr id={"comment-#{comment.id}"}>
        <td><%= comment.body %></td>

        <td>
          <span><%= link "Delete", to: "#", phx_click: "delete", phx_value_id: comment.id, data: [confirm: "Are you sure?"] %></span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
